.StudentDetails {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 1em;
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
}

.MainForm{
  background-color: inherit;
}

.grid3 {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid2 {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.input,
.select {
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.7em 0 0.7em 1.2em;
  border: 1px solid #198dfb;
  margin-top: 0.2em;
  background-color: #fff;
  font-weight: bold;
  font-size: 13px;
  color: #454f51;
  outline: none;
  text-transform: capitalize !important;
}

.label {
  display: block;
  font-size: 13px;
  font-family: inherit;
  color: #454f51;
  margin-top: 10px;
  background-color: #fff;
  width: 90%;
}

.button {
  border: 1px solid #198dfb;
  color: #198dfb;
  background-color: #fff;
  padding: 0.3em 0.7em;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin: 30px auto 0px auto;
}
.button:hover {
  background-color: #198dfb;
  color: #fff;
}

.otherbutton{
  border: 1px solid #198dfb;
  color: #198dfb;
  cursor: pointer;
  background-color: #fff;
  padding: 0.3em 0.7em;
  border-radius: 5px;
}
.otherbutton:hover{
  background-color: #198dfb;
  color: #fff;
}

.message {
  background-color: inherit;
  font-weight: bold;
  text-align: center;
}

.MessageFromBack{
  background-color: #198dfb;
  display: flex;
  justify-content: center;
  margin: 0px auto 15px auto;
  width: 250px;
  color: #fff;
  padding: 1em;
  margin-top: 10px;
  font-size: 12.5px;
}

.Emergency {
  background-color: #fff;
  margin-top: 20px;
}

@media(max-width: 804px){
  .grid3 {
    grid-template-columns: 1fr;
  }
  .grid2 {
    grid-template-columns: 1fr;
  }
}