.Show{
    box-shadow: 0 .4px 4px #76848d;
    width: 500px;
    max-width: 70%;
    background-color: #fff;
    padding: 1em;
    margin: 10px auto;
}
.Show:hover{
    box-shadow: 0 .4px 20px #76848d;
}

.Message{
  background-color: #76848d;
  color: #fff;
  padding: 1em;
  margin-top: 10px;
  font-size: 13px;
}
.Show form{
  margin-top: 30px;
}
.FormControls {
  background-color: #fff;
  font-weight: bold;
  width: 80%;
}

.FormControls label {
  display: block;
  font-size: 13px;
  background-color: #fff;
  font-family: inherit;
  color: #808c93;
  margin-top: 10px;
  width: 90%;
}

.FormControls input {
  border-radius: 4px;
  border: none;
  display: block;
  width: 100%;
  padding: 0.6em 0 0.6em 1.2em;
  border: 1px solid #76848d;
  margin-top: 0.2em;
  background-color: #fff;
  font-weight: bold;
  font-size: 13px;
  color: #76848d;
  outline: none;
}
.FormControls button {
    background-color: #fff;
    margin: 10px auto 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    border: none;
    font-size: 13px;
    color: #76848d;
  }
