.EachClass{
    background-color: #fff;
    color: #000;    
    width: 700px;
    box-shadow: 0 .4px 4px #76848d;
    padding: 1em;
    margin: 20px auto 0 auto;
    max-width: 69%;
    border-radius: 13px;
}
.EachClass:hover{
    box-shadow: 0 .4px 10px #76848d;
}
.Select{
}
.Select h4{
    color: #e72626;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
}

.Select .select{
    max-width: 210px;
    background-color: #fff;
    margin: 1em auto;
}
.Flex{
    display:  flex;
    background-color: #fff;
    justify-content: space-between;
}
.pionter{
    background-color: #fff;
    cursor: pointer !important;
}