.header {
  margin-top: 10px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
.header div {
  background-color: inherit;
  color: #454f51;
}
.FLEX {
  background-color: #fff;
  margin-top: 10px;
}
.FLEX input {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: auto;
  outline: none;
  padding: 0.6em 1em;
  background-color: #fff;
}

.FLEX button {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #454f51;
  padding: 0.6em;
  color: #fff;
  margin-top: 9px;
  border: none;
}
.message {
  margin-top: 20px;
  background-color: inherit;
  font-weight: bold;
  text-align: center;
}

.info{
    color: #454f51;
    font-weight: bold;
    font-size: 10px;
    background-color: inherit;
    text-align: center;
    margin-bottom: -9px;
    margin-top: 15px;
}