.Input {
  border-radius: 2px;
  border: 1px solid #000;
  display: block;
  width: 100%;
  padding: 0.4em 0em 0.4em 0.4em;
  margin-top: 0.6em;
  background-color: #fff;
  font-weight: bold;
  font-size: 12px;
  box-sizing: border-box;
  color: #000;
  outline: none;
}

.Disc {
    text-align: center;
    width: 40%;
    padding: 1.5em;
    margin: -40px auto 0 auto;
    background-color: #198dfb;
    text-transform: capitalize; 
    font-weight: bold;
    color: #fff;
    font-size: 12px;    
    margin-bottom: 1em;
}

.Form{
    background-color: inherit;
}

.Form button{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: .3em;
    background-color: #fff;
    outline: none;
    border: 1px solid #000;
}

.Form button:hover{
    background-color: #000;
    color: #fff;
}

.Contain{
    width: 170px;
    display: flex;
    background-color: inherit;
    justify-content: center;
    cursor: pointer;
    margin: auto;
}