.YearTerm {
  box-shadow: 0 0.4px 4px #76848d;
  width: 500px;
  max-width: 70%;
  background-color: #fff;
  padding: 1em;
  margin: 7px auto 15px auto;
}
.YearTerm:hover {
  box-shadow: 0 0.4px 20px #76848d;
}
.FormControls {
  background-color: #fff;
  font-weight: bold;
  width: 80%;
}
.FormControls label {
  display: block;
  font-size: 13px;
  font-family: inherit;
  color: #454f51;
  margin-top: 10px;
  background-color: #fff;
  box-sizing: border-box;
  width: 90%;
}

.FormControls input {
  border-radius: 4px;
  border: none;
  display: block;
  width: 100%;
  padding: 0.7em 0 0.7em 1.2em;
  border: 1px solid #198dfb;
  margin-top: 0.2em;
  background-color: #fff;
  font-weight: bold;
  font-size: 13px;
  box-sizing: border-box;
  color: #454f51;
  outline: none;
}
.From {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.From button {
  background-color: #fff;
  margin: 10px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  border: none;
  font-size: 13px;
  color: #198dfb;
}
.Message{
  background-color: #76848d;
  color: #fff;
  padding: 1em;
  margin-top: 10px;
  font-size: 13px;
}