*{
    background-color: aliceblue;
    padding: 0px;
    font-family: Overpass;
    margin: 0px;
}
.hide{
    height: auto !important;
    transition: 1s ease-out !important;
}   
.Read{
    border:  1px solid #76848d !important;
}